@import "../global/brakepoints";

.users_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 135px;

  .Heading {
    margin-top: 139px;
    margin-bottom: 50px;
    height: 40px;

    @include media(">desktop", "<=largeDesktop") {
      margin-bottom: 42px;
    }
    @include media(">phone", "<=tablet") {
      margin-bottom: 40px;
    }
    @include media("<=phone") {
      height: 80px;
      width: 303px;
      margin-bottom: 43px;
    }
  }
  .Button {
    width: 120px;
  }
  .users_stack {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 29px 30px;
    margin-bottom: 45px;

    @include media("<=phone") {
      grid-template-columns: 1fr;
      grid-gap: 21px;
      margin-bottom: 42px;
      margin-top: 5px;
    }
    @include media(">phone", "<=tablet") {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 16px 80px;
      margin-bottom: 44px;
      margin-top: 10px;
    }
    @include media(">desktop", "<=largeDesktop") {
      grid-gap: 29px 120px;
      margin-bottom: 44px;
      margin-top: 10px;
    }
    @include media(">largeDesktop") {
      grid-gap: 29px 120px;
    }
  }
}
