@import "../forMediaQueries/brakepoints";

.welcomePage_wrapper {
  overflow: hidden;
  position: relative;
  min-height: 300px;
  min-width: 340px;
  width: 100%;
  .backgroundImage {
    background-image: url("../assets/image/background.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    object-fit: cover;
    height: 650px;
    min-height: 350px;
    max-width: 1170px;
    margin: auto;
    filter: brightness(0.55) contrast(0.8);

    @include media(">phone", "<=tablet") {
      height: 500px;
    }
    @include media("<=phone") {
      height: 500px
    }
  }

  .background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    // set parent div for nested text.
    .welcomePage {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 380px;
      height: 100%;
      margin: auto;
      margin-top: 35px;
      @include media("<=phone") {
        width: 330px;
        margin-top: 18px;
      }
      @include media(">phone", "<=tablet") {
        margin-top: 34px;
      }
    }
    .Text {
      margin-top: 20px;
    }
    .Button {
      margin-top: 15px;
      @include media(">phone", "<=tablet") {
        margin-top: 16px;
      }
      @include media(">desktop", "<=largeDesktop") {
        margin-top: 17px;
      }
    }
  }
}
