.Button {
  color:black;
  margin: 5px 0;
  width: 100px;
  height: 34px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  &:hover {
    background-color: #ffe100;
  }
  &:disabled {
    background-color: #b4b4b4;
    color: white;
    cursor: auto;
  }
}
