.inputRadio_stack {
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  min-width: 300px;

  .inputRadio_wrapper {
    display: flex;
    position: relative;
    padding-left: 32px;
    align-items: center;

    input {
      height: 20px;
      width: 20px;
      position: absolute;
      left: -6px;
      top: 0;
      accent-color: #05a3b4;
    }

    .Text {
      margin: 0;
    }
  }
}
