.inputRadio_stack {
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
  min-width: 300px;

  .inputRadio_wrapper {
    display: flex;
    height: 30px;
    position: relative;
    padding-left: 30px;
    align-items: center;
    input {
      position: absolute;
      left: 0;
      top: 5px;
      accent-color: #05a3b4;
    }

    
  }
}
