.welcomePage_navBar {
  margin: 8px auto;
  display: flex;
  justify-content: space-between;
  max-width: 1170px;

  .Button {
    margin-left: 10px;
  }
  img {
    width: 104px;
    height: 44px;
    margin-left: 1px;
  }
  .welcomePage_navBar_buttons {
    display: flex;
    z-index: 1;
  }

  @include media(">desktop", "<=largeDesktop") {
    margin: 8px auto;
    img {
      margin-left: 0px;
    }
  }
  @include media(">tablet", "<=desktop") {
    margin: 8px 59px;
  }
  @include media(">phone", "<=tablet") {
    margin: 8px 31px;
  }
  @include media("<=phone") {
    margin: 8px 16px;
    img {
      margin-left: 0px;
    }
  }
}
