.user_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 240px;
  margin: 20px;
  overflow: hidden;
  .user_name {
    margin-bottom: 20px;
  }
  .ellipsis {
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: default;
  }
}
