.yellow {
  background-color: #f4e041;
}
.blue {
  background-color: #00BDD3;
}
.lightGray {
  background-color: #F8F8F8;
}
.error_text{
  color: red;
  font-size: small;
}
.error_border{
  border-color: red;
 
}