@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Nunito+Sans&display=swap");
.welcomePage_wrapper {
  position: relative;
  min-height: 300px;
  min-width: 350px;
}
.welcomePage_wrapper .backgroundImage {
  background-image: url("../assets/image/background.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  -o-object-fit: cover;
     object-fit: cover;
  min-height: 40%;
  height: 70vh;
  min-height: 350px;
  max-width: 1200px;
  margin: auto;
  filter: brightness(0.55) contrast(0.8);
}
.welcomePage_wrapper .background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.welcomePage_wrapper .background .welcomePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 340px;
  height: 100%;
  margin: auto;
  margin-top: 15px;
}

.users_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.users_wrapper .users_stack {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
  margin-bottom: 40px;
  margin-top: 20px;
}
@media (max-width: 600px) {
  .users_wrapper .users_stack {
    grid-template-columns: 1fr;
    grid-gap: 10px;
    margin-bottom: 10px;
    margin-top: 5px;
  }
}
@media (min-width: 601px) and (max-width: 768px) {
  .users_wrapper .users_stack {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    margin-bottom: 20px;
    margin-top: 10px;
  }
}

.signUp_wrapper {
  margin: 10px;
}
.signUp_wrapper .success_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.signUp_wrapper .success_wrapper img {
  margin: 40px;
}

.form_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 50px;
}
.form_wrapper .form_btn {
  margin-top: 30px;
}

.welcomePage_navBar {
  margin: auto;
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
}
.welcomePage_navBar img {
  margin-left: 10px;
}
.welcomePage_navBar .welcomePage_navBar_buttons {
  display: flex;
  z-index: 1;
}

.user_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 240px;
  margin: 20px;
  overflow: hidden;
}
.user_wrapper .user_name {
  margin-bottom: 20px;
}
.user_wrapper .ellipsis {
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: default;
}

.Button {
  margin: 5px;
  padding: 5px 27px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}
.Button:hover {
  background-color: #ffe100;
}
.Button:disabled {
  background-color: #b4b4b4;
  color: white;
  cursor: auto;
}

.user_photo {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.Input_wrap {
  width: 40%;
  min-width: 300px;
  margin: 14px;
  position: relative;
}
.Input_wrap input {
  width: 100%;
  height: 55px;
  border-radius: 5px;
  border: 1px solid rgb(170, 170, 170);
  box-sizing: border-box;
  padding: 0 31px;
}
.Input_wrap input::-moz-placeholder {
  color: rgb(170, 170, 170);
}
.Input_wrap input::placeholder {
  color: rgb(170, 170, 170);
}
.Input_wrap .Input_label {
  position: absolute;
  font-size: small;
  background-color: rgb(255, 255, 255);
  top: -13px;
  left: 29px;
  padding: 0 4px;
}

.inputRadio_stack {
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
  min-width: 300px;
}
.inputRadio_stack .inputRadio_wrapper {
  display: flex;
  height: 30px;
  position: relative;
  padding-left: 30px;
  align-items: center;
}
.inputRadio_stack .inputRadio_wrapper input {
  position: absolute;
  left: 0;
  top: 5px;
  accent-color: #05a3b4;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 40px;
  margin: 7px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 32px;
  height: 32px;
  margin: 4px;
  border: 4px solid #ffffff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #00bdd3 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
body {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  line-height: 26px;
}

.Text_font__normal {
  font-family: "Nunito";
  font-size: 16px;
  line-height: 26px;
  text-align: center;
}

.Heading_font__normal {
  font-family: "Nunito";
  font-size: 40px;
  line-height: 40px;
  text-align: center;
}

.text_error {
  color: red;
  font-size: small;
}

.text_helper {
  color: rgb(170, 170, 170);
  font-size: small;
}

.tooltip_wrapper {
  width: 100%;
}
.tooltip_wrapper .tooltip {
  margin-left: 60px;
  height: 10px;
  display: flex;
  align-items: center;
}

.DownloadFile_wrap {
  width: 40%;
  min-width: 300px;
  box-sizing: "border-box";
  margin: 14px;
}
.DownloadFile_wrap .DownloadFile {
  display: grid;
  grid-template-areas: "a b";
  grid-template-columns: 110px 1fr;
  width: 100%;
  height: 55px;
}
.DownloadFile_wrap .DownloadFile label {
  grid-area: "a";
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.DownloadFile_wrap .DownloadFile .upload_status {
  grid-area: "b";
  display: flex;
  align-items: center;
  padding: 0 31px;
  border-top: 1px solid rgb(170, 170, 170);
  border-right: 1px solid rgb(170, 170, 170);
  border-bottom: 1px solid rgb(170, 170, 170);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: rgb(170, 170, 170);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.DownloadFile_wrap .DownloadFile input {
  display: none;
}

.yellow {
  background-color: #f4e041;
}

.blue {
  background-color: #00bdd3;
}

.lightGray {
  background-color: #f8f8f8;
}

.white {
  color: white;
}

body {
  background-color: #f8f8f8;
}/*# sourceMappingURL=main.css.map */