@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Nunito+Sans&display=swap");
.welcomePage_wrapper {
  overflow: hidden;
  position: relative;
  min-height: 300px;
  min-width: 340px;
  width: 100%;
}
.welcomePage_wrapper .backgroundImage {
  background-image: url("../assets/image/background.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  height: 650px;
  min-height: 350px;
  max-width: 1170px;
  margin: auto;
  filter: brightness(0.55) contrast(0.8);
}
@media (min-width: 658px) and (max-width: 900px) {
  .welcomePage_wrapper .backgroundImage {
    height: 500px;
  }
}
@media (max-width: 657px) {
  .welcomePage_wrapper .backgroundImage {
    background-image: url("../assets/image/backgroundMobile.webp");
    height: 500px;
  }
}
.welcomePage_wrapper .background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.welcomePage_wrapper .background .welcomePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 380px;
  height: 100%;
  margin: auto;
  margin-top: 33px;
}
@media (max-width: 657px) {
  .welcomePage_wrapper .background .welcomePage {
    width: 330px;
    margin-top: 17px;
  }
}
.welcomePage_wrapper .background .Heading {
  height: 80px;
}
@media (max-width: 657px) {
  .welcomePage_wrapper .background .Heading {
    height: 120px;
  }
}
.welcomePage_wrapper .background .Text {
  height: 156px;
  margin-top: 20px;
}
@media (max-width: 657px) {
  .welcomePage_wrapper .background .Text {
    height: 182px;
  }
}
.welcomePage_wrapper .background .Button {
  margin-top: 15px;
}
@media (min-width: 658px) and (max-width: 900px) {
  .welcomePage_wrapper .background .Button {
    margin-top: 16px;
  }
}
@media (min-width: 1171px) and (max-width: 2560px) {
  .welcomePage_wrapper .background .Button {
    margin-top: 17px;
  }
}

.users_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 135px;
}
.users_wrapper .Heading {
  margin-top: 139px;
  margin-bottom: 50px;
  height: 40px;
}
@media (min-width: 1171px) and (max-width: 2560px) {
  .users_wrapper .Heading {
    margin-bottom: 42px;
  }
}
@media (min-width: 658px) and (max-width: 900px) {
  .users_wrapper .Heading {
    margin-bottom: 40px;
  }
}
@media (max-width: 657px) {
  .users_wrapper .Heading {
    height: 80px;
    width: 303px;
    margin-bottom: 43px;
  }
}
.users_wrapper .Button {
  width: 120px;
}
.users_wrapper .users_stack {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 29px 30px;
  margin-bottom: 45px;
}
@media (max-width: 657px) {
  .users_wrapper .users_stack {
    grid-template-columns: 1fr;
    grid-gap: 21px;
    margin-bottom: 42px;
    margin-top: 5px;
  }
}
@media (min-width: 658px) and (max-width: 900px) {
  .users_wrapper .users_stack {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 16px 80px;
    margin-bottom: 44px;
    margin-top: 10px;
  }
}
@media (min-width: 1171px) and (max-width: 2560px) {
  .users_wrapper .users_stack {
    grid-gap: 29px 120px;
    margin-bottom: 44px;
    margin-top: 10px;
  }
}
@media (min-width: 2561px) {
  .users_wrapper .users_stack {
    grid-gap: 29px 120px;
  }
}

.signUp_wrapper {
  min-width: 340px;
  margin: 10px;
}
.signUp_wrapper .Heading {
  height: 40px;
}
@media (max-width: 657px) {
  .signUp_wrapper .Heading {
    height: 80px;
  }
}
.signUp_wrapper .success_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.signUp_wrapper .success_wrapper img {
  margin: 40px;
}

.form_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 380px;
  margin: 0 auto;
  margin-bottom: 50px;
}
@media (max-width: 657px) {
  .form_wrapper {
    width: 330px;
  }
}
.form_wrapper .Text {
  margin-top: 15px;
  width: 100%;
  text-align: left;
  margin-bottom: 10px;
}
.form_wrapper .form_btn {
  margin-top: 28px;
}

.welcomePage_navBar {
  margin: 8px auto;
  display: flex;
  justify-content: space-between;
  max-width: 1170px;
}
.welcomePage_navBar .Button {
  margin-left: 10px;
}
.welcomePage_navBar img {
  width: 104px;
  height: 44px;
  margin-left: 1px;
}
.welcomePage_navBar .welcomePage_navBar_buttons {
  display: flex;
  z-index: 1;
}
@media (min-width: 1171px) and (max-width: 2560px) {
  .welcomePage_navBar {
    margin: 8px auto;
  }
  .welcomePage_navBar img {
    margin-left: 0px;
  }
}
@media (min-width: 901px) and (max-width: 1170px) {
  .welcomePage_navBar {
    margin: 8px 59px;
  }
}
@media (min-width: 658px) and (max-width: 900px) {
  .welcomePage_navBar {
    margin: 8px 31px;
  }
}
@media (max-width: 657px) {
  .welcomePage_navBar {
    margin: 8px 16px;
  }
  .welcomePage_navBar img {
    margin-left: 0px;
  }
}

.user_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 240px;
  margin: 20px;
  overflow: hidden;
}
.user_wrapper .user_name {
  margin-bottom: 20px;
}
.user_wrapper .ellipsis {
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: default;
}

.Button {
  color: black;
  margin: 5px 0;
  width: 100px;
  height: 34px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
}
.Button:hover {
  background-color: #ffe100;
}
.Button:disabled {
  background-color: #b4b4b4;
  color: white;
  cursor: auto;
}

.user_photo {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  margin-bottom: 20px;
  overflow: hidden;
}

.Input_wrap {
  width: 100%;
  margin-top: 50px;
  position: relative;
}
.Input_wrap input {
  text-align: left;
  width: 100%;
  height: 55px;
  border-radius: 5px;
  border: 1px solid rgb(170, 170, 170);
  box-sizing: border-box;
  padding: 0 15px;
}
.Input_wrap input:focus {
  outline: none;
  border-color: black;
}
.Input_wrap input::-moz-placeholder {
  text-align: left;
  margin-left: 0px;
  color: rgb(170, 170, 170);
}
.Input_wrap input::placeholder {
  text-align: left;
  margin-left: 0px;
  color: rgb(170, 170, 170);
}
.Input_wrap .Input_label {
  position: absolute;
  font-size: small;
  background-color: #f8f8f8;
  height: 2px;
  display: flex;
  align-items: center;
  top: 0px;
  left: 29px;
  padding: 0 4px;
}

.inputRadio_stack {
  height: 125px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  min-width: 300px;
  margin-bottom: 5px;
}
.inputRadio_stack .inputRadio_wrapper {
  display: flex;
  align-items: center;
  height: 27px;
  padding: 0;
  position: relative;
}
.inputRadio_stack .inputRadio_wrapper input {
  display: none;
}
.inputRadio_stack .inputRadio_wrapper input + label {
  display: inline-block;
  position: relative;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 1px solid #bdbdbd;
}
.inputRadio_stack .inputRadio_wrapper input:checked + label:before {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #05a3b4;
}
.inputRadio_stack .inputRadio_wrapper input:checked + label {
  border-color: #05a3b4;
}
.inputRadio_stack .inputRadio_wrapper .Text {
  position: absolute;
  top: -4px;
  margin: 0;
  margin-left: 32px;
  width: 300px;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 40px;
  margin: 7px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 32px;
  height: 32px;
  margin: 4px;
  border: 4px solid #ffffff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #00bdd3 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
body {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  line-height: 26px;
}

.Text_font__normal {
  font-family: "Nunito";
  font-size: 16px;
  line-height: 26px;
  text-align: center;
}

.Heading_font__normal {
  font-weight: 400;
  margin: 0;
  font-family: "Nunito";
  font-size: 40px;
  line-height: 40px;
  text-align: center;
}

.text_error {
  color: red;
  font-size: small;
}

.text_helper {
  color: rgb(170, 170, 170);
  font-size: small;
}

.tooltip_wrapper {
  width: 100%;
}
.tooltip_wrapper .tooltip {
  margin-left: 60px;
  height: 10px;
  display: flex;
  align-items: center;
}

.DownloadFile_wrap {
  width: 100%;
  box-sizing: "border-box";
  margin-top: 41px;
  margin-bottom: 17px;
}
.DownloadFile_wrap .DownloadFile {
  display: grid;
  grid-template-areas: "a b";
  grid-template-columns: 82px 1fr;
  width: 100%;
  height: 55px;
}
.DownloadFile_wrap .DownloadFile label {
  grid-area: "a";
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.DownloadFile_wrap .DownloadFile .upload_status {
  grid-area: "b";
  display: flex;
  align-items: center;
  padding: 0 17px;
  border-top: 1px solid rgb(170, 170, 170);
  border-right: 1px solid rgb(170, 170, 170);
  border-bottom: 1px solid rgb(170, 170, 170);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: rgb(170, 170, 170);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.DownloadFile_wrap .DownloadFile input {
  display: none;
}

.yellow {
  background-color: #f4e041;
}

.blue {
  background-color: #00bdd3;
}

.lightGray {
  background-color: #f8f8f8;
}

.white {
  color: white;
}

body {
  background-color: #f8f8f8;
}/*# sourceMappingURL=main.css.map */